*, *::before, *::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background: #FAFAFA;
}

/* typography */

h1 {
    font-size: 2rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #0E0E0E;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

/* navigation */

header {
    background: white;
}

nav {
    display: flex;
    align-items: center;
    padding: 1.0625em 1.25em;
    background: white;
    max-width: 1070px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 1.8em;
    margin-left: auto;
}

nav li a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    text-decoration: none;
    color: #090909;
    text-transform: uppercase;
}

nav img {
    width: 24px;
    height: 24px;
    margin-right: 0.2em;
}

.nav-title {
    display: inline;
    font-size: 0.875rem;
}

.hamburger-menu {
    margin-left: auto;
    cursor: pointer;
}

.menu { 
    display: none;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* layout */

section {
    margin-bottom: 2.25em;
    max-width: 1070px;
    margin: 0 auto;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1.25em;
    background-image: url(/images/hero-image.png);
    background-size: cover;
    height: 300px;
    color: white;
    max-width: 100%;
}

.hero-date {
    font-size: 0.75rem;
    margin-bottom: 0.5em;
}
.hero-title {
    margin-top: 0px;
    margin-bottom: 0.5em;
}

.posts-card-date {
    margin: 0.5em 0;
}

.posts-card-title {
    padding: 0px;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

.hero-date,
.blog-post-date {
    text-transform: uppercase;
}

.hero-description,
.posts-card-description {
    margin: 0;
}

.posts,
.blog-post,
.headline,
.intro,
.recent-posts {
    padding: 0 1.25em;
}

.posts-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1.25em;
    margin: 2.25em 0;
}

.posts-card {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 1.5em;
    cursor: pointer;
}

.posts-card img {
    background: white;
    width: 100%;
    object-fit: cover;
}

.posts-card img:hover,
.hero:hover {
    opacity: 50%;
    transition: 0.5s;
}

.posts-card img:not(:hover),
.hero:not(:hover) {
    opacity: 100%;
    transition: 0.5s;
}

.posts-card-date {
    font-size: 0.875rem;
    text-transform: uppercase;
}

.posts-view-more {
    display: block;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-bottom: 3em;
}

/* footer */

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 1.75em;
}

.footer-headline {
    font-weight: bold;
    color: #ECECEC;
    margin-bottom: 0;
    font-size: 0.75rem;
    line-height: 1.25rem;
}

.footer-text {
    color: #D7D7D7;
    font-size: 0.75rem;
    margin-top: 0;
}

/* blog post */

.blog-post-date {
    font-size: 0.75rem;
    margin-top: 2em;
}

.blog-post-title {
    margin: 0.5em 0;
}

.blog-post img {
    display: block;
    width: 100%;
    max-width: 1000px;
    max-height: 500px;
    object-fit: cover;
    margin: 2.2em auto 2.2em 0;
}

.blog-last-paragraph {
    margin-bottom: 3.125em;
}

.recent-posts-heading {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 2em;
    font-size: 1rem;
}

/* intro */

.intro-img {
    width: 182px;
    height: 182px;
    border-radius: 50%;
    margin-bottom: 1.6875em;
}

.intro-title {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.intro-description {
    margin-top: 0;
    margin-bottom: 3.125em;
}

.headline {
    margin-top: 2em;
}

/* utility */

.container {
    display: flex;
    flex-direction: column;
}

.no-text-decoration {
    text-decoration: none;
}

.hidden {
    display: none;
}

/* media queries */

@media (min-width: 768px) {
    .posts-grid {
        grid-template-columns: 1fr 1fr;
    }

    .hero-title,
    .hero-description {
        max-width: 600px;
    }

    .hero-date {
        font-size: 1rem;
        margin-bottom: 0.2em;
    }

    .hero-title {
        margin-bottom: 0.2em;
    }

    .hero {
        height: 500px;
        max-width: 1085px;
        padding-left: 3.25em;
        padding-bottom: 3em;
    }

    .blog-post article {
        padding: 1em 7em;
    }

    .blog-post img {
        padding: 0 3.3125em;
    }

    h1 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .container {
        flex-direction: row;
        gap: 1.875em;
    }

    .intro-title {
        margin-bottom: 0;
    }

    .intro-description {
        margin-top: 0.5em;
        margin-bottom: 0;
    }

    .intro article {
        padding: 0 5em;
        font-size: 1.25rem;
    }

    .headline {
        padding: 0 4em;
        margin-top: 5em;
        margin-bottom: 4em;
        max-width: 1075px;
    }

    .blog-post-date {
        font-size: 1rem;
    }

    .blog-post img {
        margin: 0;
    }

    .recent-posts-heading {
        font-size: 1.5rem;
    }

    .menu {
        display: flex;
    }

    .hamburger-menu {
        display: none;
    }
}

@media (min-width: 1050px) {
    .posts-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}
